<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".UniApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_sparkle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sparkle_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UNIAOS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.SubHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.MainHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.MissionDetailCreateActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.onboarding.OnBoardingActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>