name: Uni PR Builder

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/buildSrc/**/*.kt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Create Local Properties
        run: touch local.properties

      - name: Access Local Properties
        env:
           UNI_URL: ${{ secrets.BASE_URL }}
           KAKAO_APP_KEY: ${{ secrets.KAKAO_APP_KEY }}
        run: |
            echo BASE_URL=\"$BASE_URL\" >> local.properties

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Lint Check
        run: ./gradlew ktlintCheck

      - name: Build with Gradle
        run: ./gradlew build

      - name: On Success!! Congratulations
        if: ${{ success() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#4AC3BE'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_TITLE: 'Uni/PR Check S.U.C.C.E.S.S π‰π‰π‰'
          MSG_MINIMAL: true
          SLACK_USERNAME: Uni-AOS
          SLACK_MESSAGE: 'PRμ΄ μ™„λ£λμ—μµλ‹λ‹¤!!! π‰π‰π‰'

      - name: On Failed, Notify in Slack
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#ff0000'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_TITLE: 'Uni/Android Debug build Failβ'
          MSG_MINIMAL: true
          SLACK_USERNAME: Uni-AOS
          SLACK_MESSAGE: 'μ—λ¬λ¥Ό ν™•μΈν•μ„Έμ”'